* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #FF530F;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.todo-app {
  min-width: 200px;
  min-height: 200px;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  /*margin: 32px 0;*/
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 16px;
  border-radius: 10px 0 0 10px;
  background-color: #FFC9A9;
  border: #FFC9A9;
  outline: none;
  width: 350px;
  color: #FF530F;
  cursor: text;
}

.todo-input::placeholder {
  color: #FFECDB;
}

.todo-button {
  padding: 16px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  outline: none;
  background: #FF530F;
  color: #FFECDB;
  text-transform: capitalize;
}

.todo-input.edit {
  border: none;
}

.todo-button.edit {
  background-color: #FF530F;
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #FF530F;
  background: #FFC9A9;
  padding: 16px;
  border: none;
  border-radius: 10px;
  width: 70%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #FF530F;
}

.edit-icon {
  color: #FF530F;
}

button.with-text {
  width: auto;
  background-color: #FFC9A9;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}
button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}

.progress-bar {
  height: 380px;
  color: #FF530F;
}

button {
  border: none;
  background-color: #FFECDB;
  padding: 4px;
  margin: 10px 0;
}

.welcome, .flex-container {
  height: 100vh;
  width:100%;
  text-align: center;
  scroll-snap-align: start;
}

.welcome {
  background-color: #FFC9A9;
  color: #FF530F;
}

.title {
  font-size: 20vh;
  padding: 5% 5% 10% 5%;
}

.flex-container {
  background-color: #FFECDB;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.settings-button {
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

input {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  border: none; 
  background-color: #FFECDB;
}

button {
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}
